body{
    padding: 3%;
    color: brown;
    background-color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}
header img{
    padding: 5px;
    width: 120px;
    border-radius: 38%;
    border: 6px solid pink;
}
footer img{
    width: 50px;
    padding: 15px;
}
footer{
    display: flex;
    justify-content: center;
}
.container{
    text-align: center;
}
.p{
    background-color: pink;
    border-radius: 8%;
    border-style: groove;
    margin-left: 20%;
    margin-right: 20%;
}
p{
    font-family: monospace;
    justify-content: center;
}
h2{
    font-family: monospace;
}
.flor{
}
